* 
    padding: 0;
    margin: 0;
    list-style-type: none
    font-family: Microsoft JhengHei !important;
/*-------------------設定當前路由css----------------------*/
.router-link-active
    color: #6fa0ce !important
/*主體大小*/ 
.main-container
    display: flex;
    align-self: center
    max-width: 50%
    margin: auto;
/*nav導航*/    
.main-header
    height: 100%
    background-color: #2e2e2a
    .container
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        max-width: 100%;
        margin: auto;
    .main-nav
        margin: 0px auto;
        a 
            text-decoration: none;
            color: #d6d7e7;
            padding: 5px 2em;
            position: relative;
            transition: 0.3s
            font-size: 18px
        a:hover
            color: #6fa0ce
        a:after
            content: ''
            position: absolute
            left: 50%
            right: 50%
            bottom: -5px
            height: 0
            border-bottom: 3px solid #00b1f7
            transition: 0.3s
            font-size: 3px
        a:hover:after
            left: 0
            right: 0
.community
    margin: 10px auto;
    text-align: center;
    .link
        position: relative;
        a
            color: #68a179
            text-decoration: none;
            padding: 20px 2em;
            position: relative;
            font-size: 15px;
            transition: 0.3s
        a:hover
            color: #a6c4af
            font-size: 18px
.main-personal
    padding: 30px;
    margin: auto;
    img
        border-radius: 50%
        width: 180px
        height: 180px;
        display: block; 
        margin: 10px auto;
    h1
        height: 100%
        width: 100%
        text-align: center;
        margin: auto;
        color: #fff
    h2
        height: 100%
        width: 100%
        text-align: center;
        margin: auto;
        color: #fff
        padding: 10px;
/*-------------------about----------------------*/
.about
    width: 100%
    height: 100%
    .about-section
        box-sizing: border-box
        text-align: left
        width: 100%
        border: 3px solid #e69494
        border-radius: 10px
        padding: 25px 3em
        line-height: 2
        box-shadow: 0 0 .5em red;
        position: relative
        margin: 3em 0
        .title
            line-height: 3em
        .skills
            display: flex
            flex-flow: row
            justify-content: space-around
            li
                line-height: 3em

/*-------------------專案----------------------*/
.main-project
    height: 100%
    width: 100%
    .community
        display: flex
        align-self: center
        flex-direction: column;
        text-align: left
        width: 100%
        .project
            border: 1px solid #40a0ff9c
            box-shadow: 0 0 1.5em #40a0ff9c;
            border-radius: 5px
            display: flex
            margin: 30px 10px
            flex-direction: row;
            width: 100%
            height: 350px
            .project-img
                border-top-left-radius: 5px
                border-bottom-left-radius: 5px
                flex: 1 1 auto;
                width: 400px
                height: 100%
                position: relative;
                background-position: center center
                background-repeat: no-repeat
                background-size: cover
                .Imgloading
                    border-radius: 5px
                    width: 100%
                    height: 100%
                    background-color: #ffffff
                    opacity: 3
                    position: relative
                    &:after
                        content: "圖片加載中"
                    &:before
                        content: ""
                        position: absolute
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto
                        height: 80px
                        width: 80px
                        border-right: 5px solid #40a0ff9c
                        border-radius: 50%
                        animation: Imgloading .8s ease-in infinite
                img
                    width: 100%
                    height: 100%
                    
                .mask
                    height: 100%
                    width: 100%
                    position: absolute
                    top: 0
                    left: 0
                    background: rgba(56, 70, 83, 0.6);
                    opacity: 0    
                    transition: .3s
                    margin: auto;
                    button
                        width: 100px
                        height: 50px
                        border: 2px solid #b3d8ff
                        margin: 0 auto
                        position: absolute
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #409eff
                        border-radius: 10px
                        outline: none
                        transition: .5s
                    button:hover
                        color: #ffffff
                        background-color: #40a0ff9c
                .mask:hover
                    opacity: 1
            .introduction
                flex: 2 1 auto;
                border-left: 1px solid #919696
                padding: 10px 30px
                line-height: 40px
                ul
                    padding: 10px
               
/*-------------------履歷----------------------*/
.main-resume
    width: 100%
    height: 100%
    button
        width: 100px
        height: 50px
        border: 2px solid #b3d8ff
        margin: 0 auto
        color: #409eff
        border-radius: 10px
        outline: none
        transition: .5s
    button:hover
        color: #ffffff
        background-color: #40a0ff9c
/*-------------------動畫----------------------*/
@keyframes Imgloading
    0%
        transform: rotate(0deg);
    100%
        transform: rotate(360deg);